/*.hero {
  background-color: #c4c4c4;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)
    ),
   url(../imges/hero/bg.jpg);
  background-size: cover;
}*/

/*.hero__item {
  text-align: center;
}*/
.model-btn{
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  @include sabTaitle (1.9, 0.06em, 16px, 700);
  color: #fff;
  background-color: #2196f3 ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}
@media not all, screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px){
 .hero {
    background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(../imges/hero/bg-mobile.jpg);
  }
}
@media screen and (min-width: 480px){
 .hero {
    width: 480px;
    background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(../imges/hero/bg-mobile.jpg);
    background-color: rgba(47, 48, 58, 0.4);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
  }
  .hero__type {
    margin-bottom: 30px;
    margin: 0 auto;
    max-width: 360px;
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
  }
}
@media screen and (min-width: 768px){
 .hero {
    width: 768px;
    background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(../imges/hero/bg-tablet.jpg);
    background-color: rgba(47, 48, 58, 0.4);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
  }
  .hero__type {
    margin-bottom: 30px;
    margin: 0 auto;
    max-width: 360px;
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
  }
}
@media screen and (min-width: 1200px){
 .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1200px;
    background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),url(../imges/hero/bg-desctop.jpg);
    background-color: rgba(47, 48, 58, 0.4);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0 auto;
  }
  .hero__type {
    margin-bottom: 30px;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
  }
}


/*.hero__type {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
}*/

/*.hero {
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;

  /*text-align: center;
  //background-image: linear-gradient(
   //rgba(47, 48, 58, 0.4),
   //rgba(47, 48, 58, 0.4),
   //url(../imges/hero/bg.jpg);
  background-size: cover;*/
//}

/*.hero__type {
  @include sabTaitle (1.61, 0.06em, 26px, 900);
  @include heightType ( 360px, 84px,#ffffff);
  text-align: center;
  text-transform: uppercase;
  //margin: 0 auto;
  //margin-bottom: 30px;
}*/
