/*.model-btn{
  font-family: inherit;
  @include sabTaitle (1.88, 0.06em, 16px,0px);
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #2196f3;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
   
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffff;
  }
}*/


/*.footer-form-btn{
  @include heightType (200px, 50px, #ffffff);
 background: var(--accent-color);
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 @include sabTaitle ( 30px, 0.06em, 16px,0px);
 font-family: var(--main-font);
 padding: 10px 28px;
 display: flex;
}*/
.footer-form-btn-imges{
  margin-left: 10px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
   
  &:hover,
  &:focus{
   fill: var(--accent-color);
   border-color: var(--accent-color);
 }
}

/*.modal-form-btn{
  background-color:var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 55px;
  display: block;
  margin: 0 auto;
}*/