.all-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.filters {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: -8px;
  margin-top: -15px;
} 
.filter-type:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
} 
.filter-link {
  font-family: inherit;
  @include sabTaitle (1.63, 0em, 16px,500);
  text-align: center;
  color: #212121;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;

  &:hover,
  &:focus {
   background-color: var(--accent-color);
   color: #ffff;
   box-shadow: 0px 4px 4px 0px #00000040;
  }

     .menu__link-current {
     background-color: var(--accent-color);
     color: #ffff;
     transition: fill 250ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}
.project-type {
  margin-left: 30px;
  margin-top: 30px;
  width: 450px;
   
  &:hover .overlay {
    transform: translateY(0%);
  }
}
.project-item {
  display: block;
   
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.project-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  color: #ffffff;
  padding-left: 24px;
  padding-top: 64px;
  padding-right: 24px;
  font-family: var(--main-font);
  text-align: left;
  font-style: normal;
  @include sabTaitle (28px, 0.03em, 18px, 400);

  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.box-work-item {
  display: block;
 margin-right: 93px;
}
.project-name {
  @include sabTaitle (2, 0.06em, 18px,0px);
  color: var(--text-accent-color);
}
.project-box {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--border-portfolio-color);
  border-top: none;
}
.project-filter{ 
 @include sabTaitle (1.88, 0.03em, 16px, 400);
  text-align: left;
  color: #757575;
}
/*.type-picture {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
}*/
/*@media screen and (min-width:480px){
 
} */

@media screen and (min-width: 768px){
 .filters {
   justify-content: center;
  }
  .filter-type:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 0px;
  }
 .project {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: -30px;
    margin-top: -30px;
  }
 
  .project-type {
    display: flex;
   margin-left: 30px;
   margin-top: 40px;
   width: 354px;
  }
  .project-item {
    display: flex;
    flex-direction: column;
  }
  .project-box {
    flex-grow: 1;
  }

}

@media screen and (min-width: 1200px){
  .filters {
    justify-content: center;
    margin-bottom: 34px;
  }
  .project-type {
    width: 370px;
   margin-left: 30px;
   margin-top: 34px;
  }
  .project {
   display: flex;
   flex-wrap: wrap;
   margin-left: -30px;
   margin-top: -30px;
 }
}
  
/*.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}*/
/*.filter-type:not(:last-child) {
  margin-right: 8px;
}*/
/*.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}*/
/*.project-type {
  margin-left: 30px;
  margin-top: 30px;
   
  &:hover .overlay {
    transform: translateY(0%);
  }
}
.project-item {
  display: block;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}*/
/*.project-box {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--border-portfolio-color);
  border-top: none;
}*/
/*.filter-link {
  font-family: inherit;
  @include sabTaitle (1.63, 0em, 16px,500);
  text-align: center;
  color: #212121;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;

  &:hover,
  &:focus {
   background-color: var(--accent-color);
   color: #ffff;
   box-shadow: 0px 4px 4px 0px #00000040;
  }

     .menu__link-current {
     background-color: var(--accent-color);
     color: #ffff;
     transition: fill 250ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}*/
/*.project-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  color: #ffffff;
  padding-left: 24px;
  padding-top: 64px;
  padding-right: 24px;
  font-family: var(--main-font);
  text-align: left;
  font-style: normal;
  @include sabTaitle (28px, 0.03em, 18px, 400);

  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.box-work-item {
  display: block;
 margin-right: 93px;
}
.project-name {
  @include sabTaitle (2, 0.06em, 18px,0px);
  color: var(--text-accent-color);
}
.project-filter{ 
 @include sabTaitle (1.88, 0.03em, 16px, 400);
  text-align: left;
  color: #757575;
}
.type-picture {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
}
*/