.work-item{
  display: none;
}
.container__box-footer {
  display: block;
}  

@media screen and (min-width: 1200px){
 .work-item {
   display: flex;
   padding-top: 94px;
   padding-bottom: 94px;
  }
 .work-picture {
   width: 370px;
   height: 294px;
   border-radius: 0px;
  }
 .work-img {
   display: flex;
 }
 .work-img-picture + .work-img-picture {
   margin-left: 30px;
  }
  .work-img-picture-item {
    position: relative;
  }
}
/*.work-item {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-picture {
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1061px;
  border-radius: 0px;
}
.work-img {
  display: flex;
}
.work-img-picture + .work-img-picture {
  margin-left: 30px;
}
.work-img-picture-item {
  position: relative;
}*/