/*.footer-link-box-second {
  @include sabTaitle (1.14, 0.03em, 14px,0px);
  text-transform: uppercase;
  color: #ffff;
  margin-right: 93px;
}*/

@media screen and (min-width:480px){
 .footer-link-box-second{
   margin-top: 60px;
   //margin-bottom: 60px;
 }
 .footer-name {
   @include sabTaitle (1.14, 0.03em, 14px, 700);
   text-transform: uppercase;
   color: #ffff;
   margin-bottom: 20px;
   text-align: center;
  }
  /*.icon-footer {
   background-color: rgba(255, 255, 255, 0.1);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .web-icon-top-footer {
    fill: #ffffff;
  }*/
}  
@media screen and (min-width: 768px){
 //.footer-link-box-second{
  // margin-top: 20px;
 //}
 
}

@media screen and (min-width: 1200px){
  
 .footer-name {
   @include sabTaitle (1.14, 0.03em, 14px, 700);
   text-transform: uppercase;
   color: #ffff;
   margin-bottom: 20px;
   text-align: left;
  }
  /*.footer-link-box-second {
   margin-right: 93px;
  }*/
}
  
