/*.footer-link-box-one {
  margin-right: 70px;
}*/
.footer-link {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2f303a;
  padding: 60px 0;

        .logo-link {
         margin-bottom: 20px;
         display: block;
        }
}


@media screen and (min-width:480px){
 .conteiner__box{
    display: block;
    flex-direction: column;
    align-items: center;
 }
  .footer-link-box-one{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .logo {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--accent-color);
    padding-top: 24px;
    padding-bottom: 25px;
    //margin-right: 93px;
  }
  .navigation-type-address + .navigation-type-address {
    margin-top: 9px;
  }
  .navigation__type {
   margin-top: 20px;
   text-align: center;
  }
  .type-address{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
     
    &:hover,
    &:focus {
      color: rgb(178, 187, 204);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

  }
}
@media screen and (min-width: 768px){
 /*.container {
   width: 768px;
  }*/
 .conteiner__box{
   display: flex;
    //flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .navigation__type {
   margin-bottom: 60px;
   margin-top: 20px;
   text-align: center;
  }
}

@media screen and (min-width: 1200px){
 .conteiner__box{
   //flex-direction: row;
    align-items: baseline;
  }
  .footer-link-box-one {
    margin-right: 70px;
    display: inline-block;
  }
  .navigation__type {
   margin-top: 20px;
   text-align: left;
  }
  
}


/*.footer-block {
  margin-right: 70px;
}*/

/*.navigation-type-address + .navigation-type-address {
  margin-top: 9px;
}
.type-address {
  @include sabTaitle (1.71,0em,0px,0px);
  text-align: left;
  color: #ffff;

  &:hover,
  &:focus {
  color: rgb(178, 187, 204);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

}*/

