.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  &__letter {
    color: black;
  }
  &__letter--footer {
    color: #ffffff;
  }
}