.navigation {
  display: flex;
  align-items: center;

      .logo {
   margin-right: 93px;
  }
}
.navigation__type {
  margin-top: 20px;
}
.navigation__footer {
  display: block;
  align-items: center;
}