.page-header__container {
  display: flex;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid var(--border-color);

}
.page-header.container {
  display: block;
  align-items: center;
}