/*.web-icon {
  width: 44px ;
  height: 44px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover,
    &:focus {
     background-color: var(--accent-color);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
    &:hover .web-icon-top,
    &:focus .web-icon-top {
     fill: var #ffffff;
    }
    &:hover .web-icon-top-footer,
    &:focus .web-icon-top-footer {
      fill: #ffffff;
    }
      .current {
    color: var(--accent-color);
   }
}

.web-item {
  display: flex;
  width: 206px;
  justify-content: space-between;
  padding-top: 20px;

}*/
.web-item__footer{
  padding-top: 0;
}
/*.web-icon-top {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  fill: #afb1b8;
}
*/
.icon-footer {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.web-icon-top-footer {
  fill: #ffffff;
}
