@mixin sabTaitle ($lh, $ls, $fs, $fw) {
  line-height: $lh ;
  letter-spacing: $ls; 
  font-size: $fs;
  font-weight: $fw;
}
@mixin heightType ($wth, $ht,$color) {
    width: $wth;
    height: $ht;
    color: $color;
}
